button, li{
    font-family: Arial, sans-serif;
}

li{
    list-style: none;
}

#nav-about-store {
    padding: 0;
    margin-top: 0;
}

#nav-about-store li, #nav-gmail-images-signin li{
    display: inline-block;
    padding-left: 24px;
    padding-top: 24px;
    font-size: 13px;
}

.store-space{
    position: relative;
    right: 10px;
}


li a, button a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.70);
}

li a:hover{
    text-decoration: underline;
}

nav{
    display:flex;
    justify-content: space-between;
}

#nav-gmail-images-signin{
    justify-content: right;
    display: flex;
}

#nav-gmail-images-signin ul{
    margin-top: 0;
}

#nav-gmail-images-signin li{
    display: inline-block;
    font-size: 13px;
}

.small-space{
    position: relative;
    right: 10px;
}

#nav-gmail-images-signin img{
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
    padding-top: 17px;
    padding-left: 8px;
    padding-right: 10px;
    opacity: 0.6;
    margin-right: 8px;
}

#nav-gmail-images-signin img:hover{
    opacity: 1;
}

button a{
    color:white;
}

#nav-gmail-images-signin button{
    background-color:#4285f4;
    font-size: 13px;
    font-weight: bold;
    height: 2.3em;
    width: 5.5em;
    margin-top: 15px;
    margin-right: 33px;
    border: none;
    border-radius: 3px;
}



#google-logo{
    margin-left: 50%;
    margin-top: 10%;
}

#searchbar,#search-buttons{
    margin-left: 50%;
}

#searchbar{
    border: 1px solid rgba(0, 0, 0, 0.178);
    width: 32%;
    border-radius: 35px;
    position: relative;
    right: 10%;
    padding: 0;
}

#searchbar img{
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
    padding-top: 10px;
}

#searchbar input{
    width: 85%;
    border:none;
    padding-bottom: 10px;
    position: relative;
    bottom: 10px;
}

#searchbar input:focus{
    outline: none;
}

.search-left{
    margin-left: 20px;
}

.mic-right{
    position: relative;
    
}

form{
    margin-top: 1.5%;
}

#search-buttons{
    margin-top: 1.5%;
    position: relative;
    right: 1%;
}

#search-buttons button{
    background-color: #F2F2F2;
    padding-top: 0.5em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom: 0.5em;
    margin-right: 10px;
    border: none;
}

main{
    width: 2000px;
    
}