

button, li{
    font-family: Arial, sans-serif;
}

li{
    list-style: none;
}

#nav-about-store {
    padding: 0;
    margin-top: 0;
}

#nav-about-store li, #nav-gmail-images-signin li, #advert-business-how li, #privacy-terms-settings li{
    display: inline-block;
    padding-left: 24px;
    padding-top: 24px;
    font-size: 13px;
}

.store-space{
    position: relative;
    right: 10px;
}


li a, button a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.70);
}

li a:hover{
    text-decoration: underline;
}


#nav-gmail-images-signin, #privacy-terms-settings{
    justify-content: right;
    display: flex;
}

#nav-gmail-images-signin ul{
    margin-top: 0;
}

#nav-gmail-images-signin li{
    display: inline-block;
    font-size: 13px;
}

.small-space{
    position: relative;
    right: 10px;
}

#nav-gmail-images-signin img{
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
    padding-top: 17px;
    padding-left: 8px;
    padding-right: 10px;
    opacity: 0.6;
    margin-right: 8px;
}

#nav-gmail-images-signin img:hover{
    opacity: 1;
}

button a{
    color:white;
}

#nav-gmail-images-signin button{
    background-color:#4285f4;
    font-size: 13px;
    font-weight: bold;
    height: 2.3em;
    width: 5.5em;
    margin-top: 15px;
    margin-right: 33px;
    border: none;
    border-radius: 3px;
}



#google-logo{

}

#searchbar,#search-buttons{
    margin-left: 50%;
}

#searchbar{
    border: 1px solid rgba(0, 0, 0, 0.116);
    width:580px;
    border-radius: 35px;
    position: relative;
    right: 10%;
    padding: 0;
    background-color: white;
    margin-bottom: 30px;
}

#searchbar:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
}

#searchbar img{
    height: auto; 
    width: auto; 
    max-width: 20px; 
    max-height: 20px;
    padding-top: 10px;
}

#searchbar input{
    width: 80%;
    border:none;
    padding-bottom: 10px;
    position: relative;
    bottom: 3px;
    left: 10px;
}

#searchbar input:focus{
    outline: none;
}

.search-left{
    margin-left: 15px;
    position: relative;
    top: 3px;
    opacity: 0.5;
}

.mic-right{
    position: relative;
    top: 3px;
    left: 35px;
}

form{
    margin-top: 1.5%;
}

#search-buttons{
    margin-top: 1.5%;
    position: relative;
    right: 1%;
}

#search-buttons button{
    background-color: #F2F2F2;
    padding-top: 0.75em;
    padding-left:1.3em;
    padding-right:1.3em;
    padding-bottom: 0.75em;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: #5F6368;
}

main{
    width: 100%;
}

#container{
  margin: 0 auto;
  max-width: 100%;
  z-index: 999;
}

footer {
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #F2F2F2;
    border-top: 0.5px solid rgba(0, 0, 0, 0.061);
}

footer ul{
    margin-top: 0;
}

#advert-business-how{
    padding-inline-start: 0;
    position: relative;
    left: 5px;
}

#advert-business-how li, #privacy-terms-settings li{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.70);
    padding-top: 8px;
    position: relative;
    top: 5px;

}

#privacy-terms-settings{
    margin-right: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 374px){
    #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
        transform: scale(0.300);
    }

    #google-logo{
        margin: 0 auto;
        display: block;
        position: relative;
        bottom: 100px;
        right: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 75px;       
        right: 30px;
    }
    #search-buttons, #searchbar{
        margin-left: 0;
    }
    #searchbar{
        right: 0;
    }
    #nav-about-store{
        position: fixed;
        bottom: 94%;
        left: -20%;
    }
    #nav-gmail-images-signin{
        position: fixed;
        bottom: 95%;
        right: -36%;
    }
    footer{
        height: 10px;
        width: 340px;
        margin-left: -20px;
    }

    #advert-business-how{
        position: fixed;
        top: 97%;
        left: -35%;
    }
    #privacy-terms-settings{
        position: fixed;
        top: 97%;
        right: -34%;
    }

}

@media only screen and (min-width: 375px) and (max-width: 424px){
     #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
        transform: scale(0.375);
    }

    #google-logo{       
        display: block;
        position: relative;
        bottom: 10px;
        left: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: -10px;
    }
    #search-buttons, #searchbar{
        margin-left: 0;
    }
    #searchbar{
        right: 0;
        width: 490px;
    }
    .mic-right{
        left: 20px;
    }
    #nav-about-store{
        position: fixed;
        bottom: 94%;
        left: -17%;
    }
    #nav-gmail-images-signin{
        position: fixed;
        bottom: 94.5%;
        right: -28%;
    }
    footer{
        height: 13px;
        width: 500px;
        margin-left: -20px;
    }

    #advert-business-how{
        position: fixed;
        top: 97%;
        left: -26%;
    }
    #privacy-terms-settings{
        position: fixed;
        top: 97%;
        right: -26%;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px){
    #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
       transform: scale(0.425);
   }

   #google-logo{       
       display: block;
       position: relative;
       left: 60px;
       bottom: -30px;
   }
   form{
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       bottom: -50px;
   }
   #search-buttons, #searchbar{
       margin-left: 0;
   }
   #searchbar{
       right: 0;
       width: 490px;
   }
   .mic-right{
       left: 20px;
   }
   #nav-about-store{
       position: fixed;
       bottom: 94%;
       left: -15%;
   }
   #nav-gmail-images-signin{
       position: fixed;
       bottom: 94.5%;
       right: -23%;
   }
   footer{
       height: 15px;
       width: 500px;
       margin-left: -20px;
   }

   #advert-business-how{
       position: fixed;
       top: 96.75%;
       left: -21%;
   }
   #privacy-terms-settings{
       position: fixed;
       top: 97%;
       right: -26%;
   }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
       transform: scale(0.700);
   }

   #google-logo{       
       display: block;
       position: relative;
       left: 220px;
       bottom: -150px;
   }
   form{
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       bottom: -165px;
   }
   #search-buttons, #searchbar{
       margin-left: 0;
   }
   #searchbar{
       right: 0;
       width: 575px;
       margin-bottom: 20px;
   }
   .mic-right{
       left: 40px;
   }
   #nav-about-store{
       position: fixed;
       bottom: 93%;
       left: -6%;
   }
   #nav-gmail-images-signin{
       position: fixed;
       bottom: 93.5%;
       right: -6%;
   }
   footer{
       height: 25px;
       width: 800px;
       margin-left: -20px;
   }

   #advert-business-how{
       position: fixed;
       top: 95.75%;
       left: -6%;
   }
   #privacy-terms-settings{
       position: fixed;
       top: 95.75%;
       right: -6%;
   }
}

@media only screen and (min-width: 1024px) and (max-width:1439px){
    #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
       transform: scale(0.975);
   }

   #google-logo{       
       display: block;
       position: relative;
       left: 365px;
       bottom: -185px;
   }
   form{
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       bottom: -200px;
   }
   #search-buttons, #searchbar{
       margin-left: 0;
   }
   #searchbar{
       right: 0;
       width: 500px;
       margin-bottom: 20px;
   }
   .mic-right{
       left: 20px;
   }
   #nav-about-store{
       position: fixed;
       bottom: 94%;
       left: -4%;
   }
   #nav-gmail-images-signin{
       position: fixed;
       bottom: 94%;
       right: -0.5%;
   }
   footer{
       height: 40px;
       width: 1048px;
       margin-left: -20px;
   }

   #advert-business-how{
       position: fixed;
       top: 95.75%;
       left: -0.25%;
   }
   #privacy-terms-settings{
       position: fixed;
       top: 95.75%;
       right: -0.25%;
   }
}

@media only screen and (min-width: 1440px) and (max-width:2559px){
    #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
       transform: scale(0.975);
   }

   #google-logo{       
       display: block;
       position: relative;
       left: 575px;
       bottom: -195px;
   }
   form{
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       bottom: -200px;
   }
   #search-buttons, #searchbar{
       margin-left: 0;
   }

   #search-buttons{
        position: relative;
        bottom: 10px;
        left: 10px;
    }
   #searchbar{
       right: 0;
       width: 500px;
       margin-bottom: 20px;
   }
   .mic-right{
       left: 20px;
   }
   #nav-about-store{
       position: fixed;
       bottom: 95%;
       left: -2.5%;
   }
   #nav-gmail-images-signin{
       position: fixed;
       bottom: 95%;
       right: -0.5%;
   }
   footer{
       height: 40px;
       width: 1480px;
       margin-left: -20px;
   }

   #advert-business-how{
       position: fixed;
       top: 96.5%;
       left: -0.25%;
   }
   #privacy-terms-settings{
       position: fixed;
       top: 96.5%;
       right: -0.25%;
   }
}

@media only screen and (min-width: 2560px) {
    #container, #nav-about-store, #nav-gmail-images-signin, #advert-business-how, #privacy-terms-settings{
       transform: scale(0.975);
   }

   #google-logo{       
       display: block;
       position: relative;
       left: 1140px;
       bottom: -195px;
   }
   form{
       display: flex;
       flex-direction: column;
       align-items: center;
       position: relative;
       bottom: -190px;
   }
   #search-buttons, #searchbar{
       margin-left: 0;
   }

   #search-buttons{
        position: relative;
        bottom: 25px;
        left: 10px;
    }
   #searchbar{
       right: 0;
       width: 500px;
       margin-bottom: 20px;
   }
   .mic-right{
       left: 20px;
   }
   #nav-about-store{
       position: fixed;
       bottom: 97.25%;
       left: -1.5%;
   }
   #nav-gmail-images-signin{
       position: fixed;
       bottom: 97.25%;
       right: -0.25%;
   }
   footer{
       height: 40px;
       width: 100%;
       margin-left: 0;
   }

   #advert-business-how{
       position: fixed;
       top: 98%;
       left: -0.25%;
   }
   #privacy-terms-settings{
       position: fixed;
       top: 98%;
       right: -0.25%;
   }
}
